<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="utf-8">
      <title>PES - Register</title>
      <meta name="description" content="">
      <meta name="author" content="Grup 2">

      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <!-- Styles -->
      <%= stylesheet_link_tag '/stylesheets/bootstrap' %>

      <!-- Fav and touch icons -->
      
      <!-- incloure l'arxiu de utils javascript -->
      <%= javascript_include_tag '/javascripts/utils', '/javascripts/bootstrap', '/javascripts/bootstrap-alert' %> 

      <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
      <!-- Fav and touch icons -->
  </head>

  <body>

    <nav class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Lancing Market", root_url, :class => "brand" %>
          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <%= link_to "Inici", root_url %>
              </li>
              <li>
                <%= link_to "Registrar-se", {:controller => :contractants, :action => "new"}%> 
              </li>
              <li>
                <%= link_to "Entrar", {:controller => :sessions, :action => "new"}%> 
              </li>
            </ul>
            <form class="navbar-search pull-left" action>
              <input type="text" class="search-query span2" placeholder="Cerca">
            </form>
          </div>
        </div>
      </div>
    </nav>

    <section class="container">
      <section class="center span8">
        <h1>Login</h1>
        <%= form_tag sessions_path do %>
        		<% flash.each do |name, msg| %>
						  <%= content_tag :div, msg, :id => "flash_#{name}" %>
						<% end %>
            <%= label_tag "Nom d'usuari:" %>
            <%= text_field_tag :username %>

            <%= label_tag "Contrasenya:" %>
            <%= password_field_tag :password %>

          <div class="actions">
            <%= submit_tag "Envia", :class => "btn btn-success", :onClick =>"parent.location='home_contractista.html'"%>
          </div>
        <% end %>
      </section>
    </section>
  </body>
<script>
  $(document).ready(function() {
    // inserta_head_home();
    $(".nav-collapse .nav li:first").removeClass("active");
    $(".nav-collapse .nav li:eq(2)").addClass("active");
    inserta_footer();
  });
</script>
</html>

