
    <section class="container">
      <section class="center span8">
        <h1>Login</h1>
        <%= form_tag sessions_path do %>
        		<% flash.each do |name, msg| %>
						  <%= content_tag :div, msg, :id => "flash_#{name}" %>
						<% end %>
            <%= label_tag "Nom d'usuari:" %>
            <%= text_field_tag :username %>

            <%= label_tag "Contrasenya:" %>
            <%= password_field_tag :password %>

          <div class="actions">
            <%= submit_tag "Envia", :class => "btn btn-success", :onClick =>"parent.location='home_contractista.html'"%>
          </div>
        <% end %>
      </section>
    </section>
  </body>
<script>
  $(document).ready(function() {
    // inserta_head_home();
    $(".nav-collapse .nav li:first").removeClass("active");
    $(".nav-collapse .nav li:eq(2)").addClass("active");
    inserta_footer();
  });
</script>
</html>

