
    <section class="container">
      <section class="center span8">
        <h1>Crea un usuari</h1>
        <div class="alert alert-block alert-success">
          <p>Ja ets usuari? Entra emprant la barra de login superior, o prement aquest botó:</p>
          <p>
            <%= link_to "Login", "/login", :class => "btn" %>
          </p>
        </div>  
        <%= form_for(@contractant, :html => {:class => "well form-vertical"}) do |f| %>
          <% if @contractant.errors.any? %>
              <h3><%= pluralize(@contractant.errors.count, "error") %> prohibited this contractant from being saved:</h2>

              <ul>
              <% @contractant.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
          <% end %>

            <%= f.label "Nom:" %>
            <%= f.text_field :username, :class=>"span3", :placeholder=>"Entra el teu nom complet" %>

            <%= f.label "Contrasenya:" %>
            <%= f.password_field :password, :class=>"span3", :placeholder=>"Contrasenya" %>

            <%= f.label "Confirmació de contrasenya:" %>
            <%= f.password_field :password_confirmation, :class=>"span3", :placeholder=>"Confirma la teva contrasenya" %>

          <div class="actions">
            <%= f.submit "Envia", :class => "btn btn-success", :onClick =>"parent.location='home_contractista.html'"%>
            <button type="reset" value="Reset" class="btn">Reset</button>
          </div>
        <% end %>
      </section>
    </section>
  </body>
<script>
  $(document).ready(function() {
    // inserta_head_home();
    $(".nav-collapse .nav li:first").removeClass("active");
    $(".nav-collapse .nav li:eq(1)").addClass("active");
    inserta_footer();
  });
</script>
</html>

