<h1>Listing contractants</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contractants.each do |contractant| %>
  <tr>
    <td><%= contractant.username %></td>
    <td><%= contractant.password %></td>
    <td><%= link_to 'Show', contractant %></td>
    <td><%= link_to 'Edit', edit_contractant_path(contractant) %></td>
    <td><%= link_to 'Destroy', contractant, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contractant', new_contractant_path %>
