<%= form_for(@project, :html => {:class => "well form-vertical"}) do |f| %>
          <%= f.label "Nom:" %>
          <%= f.text_field :name, :class => "span3", :placeholder => "Escriu un nom pel projecte" %>
          <span class="help-inline">Només caràcters alfanumèrics permesos!</span>
          
          <%= f.label "Versió:" %>
          <%= f.text_field :version, :class => "span3", :placeholder => "Versió inicial" %>
          <span class="help-inline">Només caràcters alfanumèrics permesos!</span>

          <%= f.label "Descripció:" %>
          <%= f.text_area :description, :class => "input-xxlarge", :rows => "3", :id => "textarea", :placeholder => "Escriu una descripció detallada del projecte" %>
          <span class="help-inline">Només caràcters alfanumèrics permesos!</span>
          
          <br>
          <br>
          <div id="milestones">
            <h4>Fites</h4>
              <% @project.milestone.each_with_index do |milestone, index| %>
                <%= render :partial => 'form_milestone', :locals => { :milestone => milestone, :index => index } %>
            <%end%>
          </div>
              <br>
              <br>
              <div style="float:right;">
                <label>Import total del projecte</label>
                <input id="counter" type="text" class="span3" placeholder="Quantitat total" readonly="readonly">
              </div>
              <a id="add_milestone" class="btn btn-warning" href="#"><i class="icon-plus icon-white"></i> Afegir fita</a>
              <br>
              <br>
              <br>
              <br>
          <div class="actions">
            <%= f.submit "Envia", :class => "btn btn-success", :onClick =>"parent.location='my_projects_contractant.html'"%>
            <button type="reset" value="Reset" class="btn">Reset</button>
          </div>
        <% end %>