<%= form_for(@project, :html => {:class => "well form-vertical"}) do |f| %>
          <%= f.label "Nom:" %>
          <%= f.text_field :name, :class => "span3", :placeholder => "Escriu un nom pel projecte" %>
          <span class="help-inline">Només caràcters alfanumèrics permesos!</span>
          
          <%= f.label "Versió:" %>
          <%= f.text_field :version, :class => "span3", :placeholder => "Versió inicial" %>
          <span class="help-inline">Només caràcters alfanumèrics permesos!</span>

          <%= f.label "Descripció:" %>
          <%= f.text_area :description, :class => "input-xxlarge", :rows => "3", :id => "textarea", :placeholder => "Escriu una descripció detallada del projecte" %>
          <span class="help-inline">Només caràcters alfanumèrics permesos!</span>
          
          <br>
          <br>
          <div id="milestones">
            <h4>Fites</h4>
              <% @project.milestone.each_with_index do |milestone, index| %>
                <%= fields_for "milestone[#{index}]", milestone do |m| %>
                <div id="milestone-1">
                  <br>
                  <%= m.label "Numero:" %>
                  <%= m.number_field :number, :class => "span3", :placeholder => "Entra un nombre per a la fita" %>
                  <span class="help-inline">Només caràcters numèrics permesos!</span>

                  <%= m.label "Import:" %>
                  <%= m.number_field :import, :class => "import span3", :placeholder => "Entra un import per a la fita", :onchange => "refresh_counter();"%>
                  <span class="help-inline">Només caràcters numèrics permesos!</span>

                  <%= m.label "Descripció:" %>
                  <%= m.text_area :description, :class => "input-xxlarge", :rows => "3", :id => "textarea", :placeholder => "Escriu una descripció detallada de la fita" %>
                  <span class="help-inline">Només caràcters alfanumèrics permesos!</span>
                  <br>
                  <br>
                  <a class="btn btn-danger remove_milestone" href="#" onclick="remove_milestone('milestone-#{index}'); return false;"><i class="icon-trash icon-white"></i> Eliminar aquesta fita</a>
                  <br>
                </div>
              </div>
              <br>
              <br>
              <div style="float:right;">
                <label>Import total del projecte</label>
                <input id="counter" type="text" class="span3" placeholder="Quantitat total" readonly="readonly">
              </div>
              <a id="add_milestone" class="btn btn-warning" href="#"><i class="icon-plus icon-white"></i> Afegir fita</a>
              <br>
              <br>
              <br>
              <br>
              <%end%>
            <%end%>
          <div class="actions">
            <%= f.submit "Envia", :class => "btn btn-success", :onClick =>"parent.location='my_projects_contractant.html'"%>
            <button type="reset" value="Reset" class="btn">Reset</button>
          </div>
        <% end %>