<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @project.id %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Version:</b>
  <%= @project.version %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Fites:</b>
	<ul>
	  <%= @project.milestone.each do |milestone| %>
			<li>
					<p>Number: <%= milestone.number %></p>
					<p>Import: <%= milestone.import %></p>
					<p>Description: <%= milestone.description %></p>
			</li>
		<% end %>
	</ul>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
